
/* Лабораторная 05.02.22
h1{
	color:  red;
}

div {
	color:  #FFE4C4;
}

p {
	color: rgb(0, 255, 0);
}

li {
	color: rgba(255, 0, 0, 1)
} */


.header{
	color: #66ff00;
	background: black;
	
}


.headerFixedPosition{
	position: fixed;
	color: #66ff00;
	background: black;
	 right: 10px; /* Расстояние от правого края окна браузера */
    top: 20%; /* Расстояние сверху */
    padding: 0px; /* Поля вокруг текста */ 
}